<html>
	<html>
        <head>
            <title>Django Nata's blog</title>
        </head>
        <body>
            <div>
                <h1><a href="/">Django Nata's Blog</a></h1>
            </div>

            {% for post in posts %}
				<div>
	                <p>published: {{post.published_date}}</p>
	                <h2><a href="">{{post_title}}</a></h2>
	                <p>{{post.text|linebreaksbr}}</p>
	            </div>
	        {% endfor %}
        </body>
    </html>

	<!-- <head>
		<title>Nata's blog</title>
	</head>

	<body>
		<p>Hi there!</p>
		<p>Good bye!@#$%^&*)))!!!</p>
	</body -->>
</html>

