<html>
	<html>
        <head>
            <title>Django Nata's blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Django Nata's Blog</a></h1>
            </div>

            <div>
                <p>published: 02.09.2017, 18:55</p>
                <h2><a href="">My first post</a></h2>
                <p>Я создала первую страничку</p>
            </div>

            <div>
                <p>02.09.2017, 19:00</p>
                <h2><a href="">My second post</a></h2>
                <p>И мне это нравится</p>
            </div>
        </body>
    </html>

	<!-- <head>
		<title>Nata's blog</title>
	</head>

	<body>
		<p>Hi there!</p>
		<p>Good bye!@#$%^&*)))!!!</p>
	</body -->>
</html>

